<section id="sectionStepChart">

    <div class="it-wrapper">


            <div class="core-charts">

                <!-- ALL ZONES -->
                <div id="allZones">

                    <div class="connectivity">
                        <x-app-step-chart data-title="D3 Step Chart"
                                          data-node=""
                                          data-lane="hello_flavio"></x-app-step-chart>
                    </div>

                </div>


            </div>

        </div>


    </section>
</div>

