<div class="app-graph-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__supporting-text">
   <i class="material-icons fiber">fiber_manual_record</i> <span class="title">Tag Reads</span>
  </div>
  <div class="delta">
    last <span class="resolution">7d</span>
  </div>
  <div class="stats">
        <span class="connected"></span>
        <span class="sub-title"></span>
  </div>
  <div class="by-line"><span class="offline"></span> offline</div>
  <x-mdl-progress-bar></x-mdl-progress-bar>
</div>