<div class="sensor-net-donut">
    <div class="chart"></div>
    <div class="donut-title"></div>

    <div class="sensor-net-info">

        <div class="log-events-info hidden">
            <div class="w100 pb24">
                <div class="sensor-net-info-row">Events: <div id="logEvents" class="sensor-nets"></div></div>
            </div>

            <div class="w100 pb12">
                <div class="sensor-net-info-row">Processed: <div id="logEventsProcessed" class="sensor-nets"></div></div>
            </div>

            <div class="w100 pb12">
                <div class="sensor-net-info-row">Failed: <div id="logEventsFailed" class="sensor-nets"></div></div>
            </div>

            <div class="w100 pb12">
                <div id="logEventsDownloadLog" class="sensor-net-info-row download-log">Download log</div>
            </div>
        </div>


        <div class="event-notification-info hidden">
            <div class="w100 pb24">
                <div class="sensor-net-info-row">To Be Delivered: <div id="eventsToBeDelivered" class="sensor-nets"></div></div>
            </div>

            <div class="w100 pb12">
                <div class="sensor-net-info-row">Delivered: <div id="eventsDelivered" class="sensor-nets"></div></div>
            </div>

            <div class="w100 pb12">
                <div class="sensor-net-info-row">Failed: <div id="eventsFailed" class="sensor-nets"></div></div>
            </div>

            <div class="w100 pb12">
                <div id="eventsDownloadLog" class="sensor-net-info-row download-log">Download log</div>
            </div>
        </div>


        <div class="jobs-info hidden">
            <div class="w100 pb24">
                <div class="sensor-net-info-row">Jobs Running: <div id="jobsRunning" class="sensor-nets"></div></div>
            </div>

            <div class="w100 pb12">
                <div class="sensor-net-info-row">Scheduled: <div id="jobsScheduled" class="sensor-nets"></div></div>
            </div>

            <div class="w100 pb12">
                <div class="sensor-net-info-row">Stopped: <div id="jobsStopped" class="sensor-nets"></div></div>
            </div>

            <div class="w100 pb12">
                <div class="sensor-net-info-row">Failed: <div id="jobsFailed" class="sensor-nets"></div></div>
            </div>

            <div class="w100 pb12">
                <div id="jobsDownloadLog" class="sensor-net-info-row download-log">Download log</div>
            </div>
        </div>




    </div>

</div>