<div class="fit">
    <x-app-action-bar></x-app-action-bar>
    <div class="left-content">
        <x-mdl-header></x-mdl-header>
        <!--<x-swim-sankey></x-swim-sankey>-->
        <!--<x-app-bubble-chart style="display:none"></x-app-bubble-chart>-->
        <x-app-bubble-chart></x-app-bubble-chart>
    </div>
    <div class="right-bar">
        <x-app-graph-card title="Tag Reads"></x-app-graph-card>
        <x-app-graph-card title="Stay Time"></x-app-graph-card>
        <x-app-graph-card title="Transition Time"></x-app-graph-card>   
        <x-app-graph-card title="Counts"></x-app-graph-card>         
    </div>
</div>