<div class="donut-chart mdl-card mdl-shadow--2dp">

    <div class="donut-title p12"></div>
    
    <div class="resolution-wrapper">
      last <span class="resolution">7d</span>
    </div>

    <div class="chart">

    </div>

    <div class="donut-sub-title"></div>

    <div class="info">

        <div class="info-wrapper">

            <div class="title">Name:</div>
            <div class="value pr24">Orbcomm</div>

            <div id="info_key_primary" class="title"></div>
            <div id="info_value_primary" class="value pr24"></div>

            <div id="info_key_backup" class="title"></div>
            <div id="info_value_backup" class="value pr24"></div>

            <div class="divider"></div>

            <div id="info_key_1" class="title info-key-1"></div>
            <div class="info-value-1 value pr24"></div>

            <div class="title info-key-2"></div>
            <div class="info-value-2 value pr24"></div>

        </div>

    </div>

</div>

<div class="donut-chart donut-sub-chart mdl-card mdl-shadow--2dp mt12 hidden" style="min-height: 96px; height: 96px;">

    <div class="donut-subchart-title pl12 pt12 pb6"></div>

    <div class="sub-chart-list pl48 pb6 hidden">
        <div class="occurrences sub-chart-list-item">
            Occurrences:<div class="fr pr48"></div>
        </div>
        <div class="shortest sub-chart-list-item">
            Shortest:<div class="fr pr48"></div>
        </div>
        <div class="total sub-chart-list-item">
            Unique Readers:<div class="fr pr48"></div>
        </div>
        <div class="longest sub-chart-list-item">
            Longest:<div class="fr pr48"></div>
        </div>
    </div>
    <div class="sub-chart-avg pl48 pb6 hidden">
        <div class="min sub-chart-list-item">
            Min:<div class="fr pr48"></div>
        </div>
        <div class="avg sub-chart-list-item">
            Avg:<div class="fr pr48"></div>
        </div>
        <div class="max sub-chart-list-item">
            Max:<div class="fr pr48"></div>
        </div>
        <div class="avg-total sub-chart-list-item">
            Total:<div class="fr pr48"></div>
        </div>
    </div>

</div>