<div class="app-graph-card mdl-card mdl-shadow--2dp" style="z-index: 0;">
  <div class="mdl-card__supporting-text">
    <i class="material-icons title-icon">dashboard</i> <span class="title">Tag Reads</span>
  </div>
  <div class="delta">
    <i class="material-icons delta-icon mood">arrow_drop_up</i>
    <span class="deltapct mood">35</span>%
  </div>
  <div class="stats">
    <ul class="labels">
      <li>Max</li>
      <li>Avg</li>
      <li>Min</li>
    </ul>
    <ul class="values">
      <li class="max"></li>
      <li class="avg"></li>
      <li class="min"></li>
    </ul>
  </div>
  <x-swim-line-chart class="mood"></x-swim-line-chart>
  <x-mdl-progress-bar></x-mdl-progress-bar>
</div>